{% extends '/templates/base/base.html' %}
{% block content %}
<div class="contenedor">
    <img src="/static/imgs/agradecimiento.png" alt="gracias" class="img">
    <div class="texto-centrado">
        <p class="texto-encima texto-centrado">Gracias por responder la encuesta. </p>
        <br>
        <p class="texto-centrado">"Hay quienes buscan la felicidad, y hay quienes la crean".</p>
        <a class="btn btn-primary centrar-texto" href="/">Regresar al inicio</a>
    </div>
</div>      
{% endblock %}
