{% extends '/templates/base/base.html' %}
{% block content %}
<br>
    <form method="POST" action="/datos_basicos">
        <div class="container">
            <h1 class="title" style="align-items:center;text-align:center;align-self: center;align-content: center;text-align: center;">
                <u>Inventario de Depresión de Beck (BDI-2)</u>
            </h1>
            <div class="container" style="align-items:center;text-align:center;align-self: center;align-content: center;text-align: center;">
                <div class="row form-group">
                    <div class="col-md-4">
                        <p>
                            <strong>Nombre completo:</strong>
                        </p>
                        <input class="form-control"
                               id="nombre_completo"
                               type="text"
                               name="nombre_completo"/>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>Estado civil:</strong>
                        </p>
                        <select class="form-control"
                                type="text"
                                id="estado_civil"
                                name="estado_civil">
                            <option value="S">
                                Soltero
                            </option>
                            <option value="C">
                                Casado
                            </option>
                            <option value="V">
                                Viudo
                            </option>
                            <option value="D">
                                Divorciado
                            </option>
                            <option value="Co">
                                Conviviente
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>Edad:</strong>
                        </p>
                        <input class="form-control" id="edad" type="number" name="edad" />
                    </div>
                    <div class="col-md-2">
                        <p>
                            <strong>Sexo:</strong>
                        </p>
                        <select class="form-control" id="sexo" type="text" name="sexo">
                            <option value="M">
                                Masculino
                            </option>
                            <option value="F">
                                Femenino
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <p>
                            <strong>Ocupación:</strong>
                        </p>
                        <input class="form-control"
                               id="ocupacion"
                               type="text"
                               name="ocupacion"
                               value="Estudiante"
                               disabled="True"/>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <strong>Educación:</strong>
                        </p>
                        <input class="form-control"
                               type="text"
                               id="educacion"
                               name="educacion"
                               value="Secundaria"
                               disabled="True"/>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <strong>Fecha:</strong>
                        </p>
                        <input name="fecha" id="fecha" class="form-control" type="date" value="now"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <p>
                            <strong>Instrucciones:</strong> Este cuestionario consta de 21 grupos de afirmaciones. Por favor, lea con
                            atención cada uno de ellos cuidadosamente. Luego elija uno de cada grupo, el que mejor
                            describa el modo como se ha sentido<strong>las últimas dos semanas, incluyendo el día de hoy.</strong>
                            Marque con un círculo el número correspondiente al enunciado elegido Si varios
                            enunciados de un mismo grupo le parecen igualmente apropiados, marque el número más
                            alto. Verifique que no haya elegido más de uno por grupo, incluyendo el ítem 16 (cambios
                            en los hábitos de Sueño) y el ítem 18 (cambios en el apetito).
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
                <br><br><br>
            </div>
        </div>
    </form>
{% endblock %}
