{% extends '/templates/base/base.html' %}

{% block content %}
<form method="POST" action="/emocion1">
    <div class="form-group">
        <div class="col centrar-todo">
            <img src="/static/imgs/pregunta1.png" alt="pregunta1_img" class="image">
            <br>
            <input value="{{id}}" name="id" id="id" hidden="True"></input>
            <br>
            <strong>1. Tristeza.</strong>
            <br>
            <input type="radio" name="item1" value="0">No me siento triste. </input>
            <br>
            <input type="radio" name="item1" value="1">Me siento triste gran parte del tiempo. </input>
            <br>
            <input type="radio" name="item1" value="2">Me siento triste todo el tiempo. </input>
            <br>
            <input type="radio" name="item1" value="3">Me siento tan triste o soy tan infeliz que no puedo soportarlo. </input>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <br><br>
            

            <button type="submit" class="btn btn-primary">Continuar...</button>
        </div>
    </div>
</form>

{% endblock content %}

