{% extends '/templates/base/base.html' %}

{% block content %}
<form method="POST" action="/emocion3">
    <div class="form-group">
        <div class="col centrar-todo">
            <img src="/static/imgs/pregunta3.png" alt="pregunta3_img" class="image">
            <br>
            <input value="{{id}}" name="id" id="id" hidden="True"></input>
            <br>
            <strong>3. Fracaso.</strong>
            <br>
            <input type="radio" name="item3" value="0">No me siento como un fracasado.</input>
            <br>
            <input type="radio" name="item3" value="1">He fracasado más de lo que hubiera debido.  </input>
            <br>
            <input type="radio" name="item3" value="2">Cuando miro hacia atrás, veo muchos fracasos.</input>
            <br>
            <input type="radio" name="item3" value="3">Siento que como persona soy un fracaso total.</input>
            <br><br>
            <button type="submit" class="btn btn-primary">Continuar...</button>
        </div>
    </div>
</form>

{% endblock content %}